@import "../variables.scss";
.button {
  @include fontsize(1.2rem);
  font-weight: bolder;
  cursor: pointer;
  padding: 0.8rem 1.5rem;

  //animation
  background: linear-gradient(to right, $primary 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  &:hover {
    background-position: left bottom;
  }
}

@media screen and (max-width: 768px) {
  .button {
    padding: 0.4rem 1rem;
  }
}
