@import "../variables.scss";

.card {
  @include flex(center, center, row, 0);
  &--left {
    flex-basis: 50%;
    &__img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
  &--right {
    flex-basis: 50%;
    @include flex(center, center, column, 1rem);
    &__title {
      @include fontsize(2rem);
      color: $accent;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
    &__desc {
      text-align: center;
      width: 80%;
    }
    &__links {
      @include flex(center, center, row, 1rem);
      a {
        color: $accent;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    @include flex(center, center, column, 0);
    &--left {
      &__img {
        display: none;
      }
    }
  }
}
