@keyframes slideRight {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slide-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  animation: slideRight 20s linear infinite;
}

.slide-item {
  display: inline-block;
  padding-right: 1rem; // İstediğiniz boşluk miktarını ayarlayabilirsiniz.
}
