@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: $background;
  color: $text;
}

a {
  color: $text;
  text-decoration: none;
  &:hover {
    color: $primary;
  }
}
ul {
  list-style: none;
}
