$text: #f5fff0;
$background: black;
$primary: #5dfd08;
$secondary: #123201;
$accent: #5dfd08;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  background: $background;
  color: $text;
}
