@import "./variables.scss";
.home {
  height: 92vh;
  width: 80vw;
  margin: auto;
  @include flex(center, flex-start, column, 1rem);
  &__title {
    opacity: 0;
    @include fontsize(4rem);
  }
  &__text {
    opacity: 0;
    @include fontsize(2rem);
  }

  &__icons {
    opacity: 0;
    @include fontsize(2rem);
    @include flex(center, center, row, 1rem);
  }
}

.text-animation {
  background: linear-gradient(to right, $primary, $accent);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-animation 5s infinite linear;
}

@keyframes text-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
