.nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__left {
    font-size: 1.5rem;
    a {
      color: white;
      text-decoration: none;
    }
  }
  &__right {
    &__ul {
      list-style-type: none;
      display: flex;
      gap: 2rem;
      &__li {
        padding: 1rem;
        cursor: pointer;
        a {
          color: white;
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          &:hover {
            color: greenyellow;
          }
        }
        &:hover {
          color: greenyellow;
        }
      }
    }
  }
}
