@import "./variables.scss";
.nav {
  height: 10vh;
  width: 80vw;
  margin: auto;
  @include flex(space-between, center, row, 0);
  &__left {
    font-size: 1.5rem;
  }
  &__right {
    &__ul {
      @include flex(space-between, center, row, 0);
      &__li {
        padding: 1rem;
        span {
          color: $primary;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    &__left {
      font-size: 1rem;
    }
    &__right {
      &__ul {
        &__li {
          a {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
