@import "./variables.scss";
.nav {
  height: 10vh;
  width: 80vw;
  margin: auto;
  @include flex(space-between, center, row, 0);
  &__left {
    @include fontsize(1.5rem);
  }
  &__right {
    &__ul {
      @include flex(space-between, center, row, 2rem);
      &__li {
        @include fontsize(1rem);
        span {
          color: $primary;
        }
      }
    }
  }
}
