@import "./variables.scss";
.projects {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  @include flex(center, flex-start, column, 0);
  &__title {
    @include fontsize(3rem);
    margin-bottom: 3rem;
  }
  &__proje {
    @include flex(flex-start, flex-start, column, 5rem);
  }
}
