@import "./variables.scss";
.work {
  margin: 0 auto 10rem auto;

  height: 100vh;
  width: 80vw;
  @include flex(center, flex-start, column, 0);
  border-right: 5px solid $accent;
  &__top {
    &__title {
      @include fontsize(3rem);
      margin-bottom: 3rem;
    }
  }
  &__mid {
    @include flex(center, flex-start, column, 1rem);
    &__card {
      @include flex(center, flex-start, column, 1rem);
      &__title {
        @include fontsize(2.5rem);
        margin-bottom: 1rem;
        a {
          padding-bottom: 0.5rem;
          border-bottom: 5px solid $accent;
        }
      }
      &__text {
        width: 90%;
        a {
          color: $accent;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
